@using MermaidLoft.Alchemy.QuickWeb.Models;
@model CouponsListViewModel
@{
    ViewData["Title"] = "首页";
}

<style type="text/css">
    .box {
        float: left;
        width: 270px;
        border: 2px solid hsla(0, 0%, 0%, 0.5);
        font-family: 微软雅黑, 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, Sans;
        margin: 0 6px 10px;
        background: #fff;
        border-radius: 3px;
        position: relative;
        overflow: hidden;
        border: solid 1px #BCBCBC;
        box-shadow: 0 0 10px #BCBCBC;
    }

        .box .li-title {
            padding: 5px 0;
            max-height: 48px;
            overflow: hidden;
            line-height: 24px;
            color: #898686;
            background: #fff;
            border-bottom: solid 1px #DBDBDB;
        }
        .box .bottom {
            padding: 5px 0;
            max-height: 48px;
            overflow: hidden;
            line-height: 24px;
            color: #898686;
            background: #fff;
            border-bottom: solid 1px #DBDBDB;
        }

            .box .li-title:before {
                border-color: rgba(0,0,0,0) rgba(0,0,0,0) #EEE;
                border-style: solid;
                border-width: 10px;
                content: "";
                display: block;
                position: absolute;
                margin: -24px 0 0 10px;
                width: 0;
            }

        .box .description {
            padding: 5px 0;
            max-height: 200px;
            overflow: hidden;
            line-height: 22px;
            color: #898686;
            text-indent: 10px;
            background: #fff;
            border-bottom: solid 1px #DBDBDB;
        }
</style>

    <div class="row container" style="border-bottom: solid 1px #DBDBDB;margin-bottom:18px;">
        <div class="col-lg-3">
            <div class="input-group">
                <a class="navbar-brand" href="#"></a>
            </div>
        </div>
        <div class="col-lg-6">
            <form class="input-group navbar-brand" method="get">
                <input name="pageIndex" value="1" hidden />
                <input name="pageSize" value="@Model.PageSize" hidden/>
                <input type="text" name="shopName" value="@Model.ShopName" class="form-control" placeholder="请输入您要搜索的店铺名称" />
                <span class="input-group-btn">
                    <button class="btn btn-warning" type="submit"> 搜 索 </button>
                </span>
            </form><!-- /input-group -->
        </div>
    </div>

@if (@Model.Coupons.Count() > 0)
{
    <div class="waterfallContainer">

        @foreach (var item in Model.Coupons)
        {
            <div class="box">
                <a title="点击进入推荐宝贝" href="@item.ProductUrl" target="_blank" goldclick="true">
                    <img width="260" height="260" src="@item.PictureUrl">
                </a>
                <div class="li-title">
                    <a href="@item.BaseUrl" target="_blank" title="点击领取 @item.Title">
                        <span>点击领取 @item.Title</span>
                    </a>
                </div>
                <div class="description">原价：<span>@item.Price</span>元</div>
                <div class="description">描述：<span>开始时间：@item.StartDate.ToString("yyyy-MM-dd")</span>
                    至<span>结束时间：@item.EndDate.ToString("yyyy-MM-dd")</span></div>
                <div class="bottom">
                    <a title="点击进入店铺" href="@item.BaseUrl" target="_blank">
                        店铺：<span>@item.ShopName</span>
                    </a>
                </div>
            </div>
        }

    </div>

    <nav>
        <ul class="pagination pagination-lg">
            @(Html.Raw(Model.Pagination))
            @*<li><a href="?pageIndex=@Model.PageIndex&pageSize=@Model.PageSize&shopName=@Model.ShopName">上一页</a></li>
            <li><a href="?pageIndex=1&pageSize=@Model.PageSize&shopName=@Model.ShopName">1<span class="sr-only">(current)</span></a></li>
            <li><span>... </span></li>
            <li><a href="#">@((Model.TotalCount + 1) / Model.PageSize)</a></li>
            <li><a href="?pageIndex=@(Model.PageIndex+1)&pageSize=@Model.PageSize&shopName=@Model.ShopName">下一页</a></li>*@
        </ul>
    </nav>
}

<script src="~/js/jquery.min.js"></script>
<script src="~/js/masonry.pkgd4.1.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.waterfallContainer').masonry({
            itemSelector: '.box',
            columnWidth: 5 //每两列之间的间隙为5像素
        });

    });
</script>